* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
    margin: 0px 135px;
}

.nav ul{
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    /* font-weight: 700px; */
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    padding: 0px 16px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background-color: #171100;
}

.header .btn-sign-up {
    min-width: 144px;
    margin-left: 70px;
}